@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-primary: #4995ED;   /* blue-600 */
    --color-secondary: #10b981; /* emerald-500 */
    --color-background: #f9f9f9;
    --color-text: #111827;
}

@theme {
    --color-primary: #4995ED;
    --color-secondary: #10b981;
    --color-background: #f9f9f9;
    --color-text: #111827;
}